.column-1 {
  background-color:lightblue;
  float:left;
  width:45%;
  height:1050px;
  padding:10px;
}

.column-2 {
  background-color: salmon;
  float:left;
  width:45%;
  height:1050px;
  padding:10px;
}
footer{
  margin: 50px;
}

h2:hover {
  color:white;
}

header{
  font-family:Verdana, Serif;
}

footer {
  margin-left: auto;
  margin-right: auto;
  width:80%;
}